
.user-details-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 25px;
  background: #f9fafb;
  border-radius: 12px;
}

.details-header {
  text-align: center;
  margin-bottom: 30px;
}

.details-header h2 {
  letter-spacing: 2px;
  font-size: 22px;
  color: #1f2937;
}

.details-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.a1,.a2,.a3 {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.a1 h2 {
  margin-bottom: 10px;
  color: #111827;
}

.a1 p {
  color: #4b5563;
  margin-bottom: 6px;
}


.a2 h4,.a3 h4 {
  margin-bottom: 10px;
  color: #2563eb;
  font-size: 16px;
}

.a2 p, .a3 p {
  color: #374151;
  line-height: 1.6;
}




